.logo-icon {
  margin-top: 25px;
    align-self:stretch;
    position:relative;
    max-width: 100%;
    overflow-y:scroll;
    align-self: stretch;
    object-fit: cover;
  }

  .popup {
    position: fixed;
    background-color: #fff;
    border: 2px solid;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}

.success {
    color: green;
    border-color: green;
}

.error {
    color: red;
    border-color: red;
}

  .log-in1 {
    margin: 0;
    height: 0px;
    position: relative;
    font-size: 20px;
    font-weight: 800;
    font-family: var(--font-heebo);
    color: #000;
    text-align: center;
    display: inline-block;
  }
  .log-in {
    align-self: stretch;
    height: 142px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-11xl);
  }
  .label {
    position: relative;
    font-size: var(--components-helper-text-size);
    letter-spacing: 0.15px;
    line-height: 12px;
    font-family: var(--typography-body-1);
    color: var(--light-text-secondary);
    text-align: left;
  }
  .content,
  .label-container {
    flex-direction: row;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .label-container {
    height: 12px;
    background-color: var(--light-info-contrast);
    display: flex;
    align-items: center;
    padding: 0 2px 0 var(--padding-9xs);
  }
  .content {
    width: 100%;
    border: 0;
    outline: 0;
    background-color: transparent;
    height: 54px;
    overflow: hidden;
    flex-shrink: 0;
    align-items: flex-start;
    padding: var(--padding-mini) 0;
    font-family: var(--typography-body-1);
    font-size: var(--typography-body-1-size);
    color: var(--color-gray-100);
    min-width: 134px;
  }
  .content,
  .helper-text,
  .input1 {
    align-self: stretch;
    display: flex;
  }
  .input1 {
    border-radius: var(--br-9xs);
    border: 1px solid var(--light-other-outlined-border-23p);
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-mini) 0 var(--padding-smi);
  }
  .helper-text {
    flex: 1;
    position: relative;
    font-size: var(--components-helper-text-size);
    letter-spacing: 0.4px;
    line-height: 20px;
    font-family: var(--typography-body-1);
    color: var(--light-text-secondary);
    text-align: left;
    align-items: center;
  }
  .helpertext,
  .text-fieldoutlined {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .helpertext {
    height: 20px;
    padding: 0 var(--padding-sm);
    box-sizing: border-box;
  }
  .text-fieldoutlined {
    gap: var(--gap-10xs);
  }
  .label1 {
    position: relative;
    font-size: var(--components-helper-text-size);
    letter-spacing: 0.15px;
    line-height: 12px;
    font-family: var(--typography-body-1);
    color: var(--light-text-secondary);
    text-align: left;
  }
  .content1,
  .label-container1 {
    flex-direction: row;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .label-container1 {
    height: 2px;
    background-color: var(--light-info-contrast);
    display: flex;
    align-items: center;
    padding: 0 var(--padding-9xs);
  }
  .content1 {
    width: 100%;
    border: 0;
    outline: 0;
    background-color: transparent;
    height: 54px;
    overflow: hidden;
    flex-shrink: 0;
    align-items: flex-start;
    padding: var(--padding-mini) 0;
    font-family: var(--typography-body-1);
    font-size: var(--typography-body-1-size);
    color: var(--color-gray-100);
    min-width: 134px;
  }
  .content1,
  .helper-text1,
  .input2 {
    align-self: stretch;
    display: flex;
  }
  .input2 {
    border-radius: var(--br-9xs);
    border: 1px solid var(--light-other-outlined-border-23p);
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-mini) 0 var(--padding-smi);
  }
  .helper-text1 {
    flex: 1;
    position: relative;
    font-size: var(--components-helper-text-size);
    letter-spacing: 0.4px;
    line-height: 20px;
    font-family: var(--typography-body-1);
    color: var(--light-text-secondary);
    text-align: left;
    align-items: center;
  }
  .helpertext1,
  .text-fieldoutlined1 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .helpertext1 {
    height: 20px;
    padding: 0 var(--padding-sm);
    box-sizing: border-box;
  }
  .text-fieldoutlined1 {
    height: 72px;
    gap: var(--gap-10xs);
  }
  .label2 {
    position: relative;
    font-size: var(--components-helper-text-size);
    letter-spacing: 0.15px;
    line-height: 12px;
    font-family: var(--typography-body-1);
    color: var(--light-text-secondary);
    text-align: left;
  }
  .content2,
  .label-container2 {
    flex-direction: row;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .label-container2 {
    height: 2px;
    background-color: var(--light-info-contrast);
    display: flex;
    align-items: center;
    padding: 0 var(--padding-9xs);
  }
  .content2 {
    width: 100%;
    border: 0;
    outline: 0;
    background-color: transparent;
    height: 54px;
    overflow: hidden;
    flex-shrink: 0;
    align-items: flex-start;
    padding: var(--padding-mini) 0;
    font-family: var(--typography-body-1);
    font-size: var(--typography-body-1-size);
    color: var(--color-gray-100);
    min-width: 134px;
  }
  .content2,
  .helper-text2,
  .input3 {
    align-self: stretch;
    display: flex;
  }
  .input3 {
    border-radius: var(--br-9xs);
    border: 1px solid var(--light-other-outlined-border-23p);
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-mini) 0 var(--padding-smi);
  }
  .helper-text2 {
    flex: 1;
    position: relative;
    font-size: var(--components-helper-text-size);
    letter-spacing: 0.4px;
    line-height: 20px;
    font-family: var(--typography-body-1);
    color: var(--light-text-secondary);
    text-align: left;
    align-items: center;
  }
  .helpertext2,
  .text-fieldoutlined2 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .helpertext2 {
    height: 20px;
    padding: 0 var(--padding-sm);
    box-sizing: border-box;
  }
  .text-fieldoutlined2 {
    gap: var(--gap-10xs);
  }
  .button,
  .input {
    align-self: stretch;
  }
  .input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-11xl);
  }
  .button {
    position: relative;
    font-size: var(--components-button-large-size);
    letter-spacing: 0.46px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: var(--typography-body-1);
    color: var(--light-info-contrast);
    text-align: left;
    white-space: nowrap;
  }
  .buttoncontained,
  .unstyledbutton {
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  .unstyledbutton {
    width: 94px;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-5xs) 19px var(--padding-5xs) 22px;
    box-sizing: border-box;
  }
  .buttoncontained {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: var(--light-primary-main);
    align-self: stretch;
    border-radius: var(--br-9xs);
    box-shadow: var(--elevation-2);
    align-items: center;
    justify-content: center;
  }
  .olvide-mi-contrasea {
    position: relative;
    font-size: var(--typography-body-1-size);
    letter-spacing: 0.15px;
    line-height: 150%;
    font-family: var(--typography-body-1);
    color: var(--light-primary-main);
    text-align: left;
  }
  .link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: -40px;
  }
  .no-tengo-una {
    position: relative;
    font-size: var(--typography-body-1-size);
    letter-spacing: 0.15px;
    line-height: 150%;
    font-family: var(--typography-body-1);
    color: var(--light-primary-main);
    text-align: left;
  }
  .btm,
  .f-r-a-m-e-logo,
  .link1 {
    display: flex;
    flex-direction: column;
  }
  .link1 {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .link2 {
    align-items:flex-start;
    justify-content:stretch;
    margin-top: -40px;
  }
  
  .btm,
  .f-r-a-m-e-logo {
    align-items: center;
  }
  .btm {
    align-self: stretch;
    justify-content: flex-start;
    gap: 24px;
  }
  .f-r-a-m-e-logo {
    margin: 0;
    height: 866px;
    width: 251px;
    overflow: hidden;
    flex-shrink: 0;
    justify-content: center;
    gap: var(--gap-21xl);
  }
  .left-side,
  .pic-icon {
    flex: 1;
    max-width: 100%;
    min-width: 455px;
  }
  .left-side {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
  .pic-icon {
    height: 866px;
    position: relative;
    overflow: hidden;
    object-fit: cover;
    min-height: 866px;
  }
  .log-in-4,
  .typequest {
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .typequest {
    align-self: stretch;
    background-color: var(--light-info-contrast);
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 20px;
  }
  .log-in-4 {
    flex: 1;
    border-radius: 5px;
    border: 1px dashed #7b61ff;
    box-sizing: border-box;
    flex-direction: column;
    padding: 20px;
  }
  .login-frame {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    letter-spacing: normal;
  }
  @media screen and (max-width: 750px) {
    .log-in1 {
      font-size: 27px;
    }
  }
  @media screen and (max-width: 675px) {
    .left-side,
    .pic-icon {
      min-width: 100%;
    }
  }
  @media screen and (max-width: 450px) {
    .log-in1 {
      font-size: 20px;
    }
    .f-r-a-m-e-logo {
      gap: var(--gap-21xl);
    }
  }
  
  .fcc-btn {
    background-color: #1976D2;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
  }

  .text-fieldoutlined2 {
    display: flex;
    align-items: center;
  }

  .input3 {
    position: relative;
  }

  .label-container2 {
    display: flex;
    align-items: center;
  }

  .label2 {
    margin-right: 10px;
  }

  .content2 {
    width: 100%;
    padding-right: 30px; /* Espacio para el icono de ojo */
  }

  #togglePassword {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
  }
